.highlighter {
  display: flex;
  margin-bottom: 0;
  margin-left: 2em;
  justify-content: flex-start;
}

.highlighter__input {
  box-sizing: border-box;
  border: solid;
  width: 30%;
  padding-left: .5em;
  font-size: 1.5em;
  border-color: #ccc;
  
}

.highlighter__input:focus {
border-color:#555;
}

.highlighter__button {
  box-sizing: border-box;
  margin-left: .5em;
  font-size: 2em;
  border-radius: .2em;
  
}

.highlighter__button:hover {
  background-color: #555555;
  color: white;
}

.highlighter__button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.paragraph {
  display: flex;
  margin:0 3em 1em 3em;    
  font-size: 1.75em;
  
} 

.textInput {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2em;
  margin-top: 0;
  margin-left: 0;
}

.textInput__textarea {
  box-sizing: border-box;
  margin-left: 2em;
  position: relative;
  resize: none;
  border: solid .35em #ccc;
  
  
}

.textInput__textarea:focus {
  border-color: #555;
  
}

.textInput__button {
  box-sizing: border-box;
  margin-left: .5em;
  align-self: flex-end;
  font-size: 2em;
  border-radius: .2em;
}

.textInput__button:hover {
  background-color: #555555;
  color: white;
}

.textInput__button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

mark {
  background-color: yellow;
}
